{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>registration</title>
    <link rel="stylesheet" href={% static "assets/css/admin.css" %} />
    <link href={% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %} rel="stylesheet">

</head>
<body  style="background-color: #ccc;">
<section class="vh-100" style="padding: 0% 25% 0% 25%;">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
             
              <div class="col-md-12 col-lg-12 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                    <div class="align-items-center mb-3 pb-1 text-center">
                      <span class="h1 fw-bold mb-0">
                        <img src={% static "assets/images/logo.png" %} width="50"/>
                      </span>
                    </div>
  
                    <h5 class="fw-normal mb-3" style="letter-spacing: 1px;">Signup</h5>
                    
                    <form method="POST" >
                      {% csrf_token %}
                      {{ form|crispy }}      
                  
                      <button class="btn btn-dark btn-lg btn-block" type="submit" id="login" >Register</button>
                    </form>
                   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>